/**PRIVACY POLICY START **/
.back-button {
  object-fit: contain;
}

.privacy-policy-headline-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/**PRIVACY POLICY END **/
