/* Desktop-Side-Bar Start */

body {
  margin: 0 !important;
}

/* Desktop-Side-Bar Main Content Margin left */
.main-content {
  margin-left: 284px; /* 234px (width of sidebar) + a little extra for spacing */
  margin-right: 50px;
}

/* Desktop-Side-Bar Logo*/

.desktop-sidebar {
  width: 234px;
  height: 100vh;
  background-color: #2a3647;
  position: fixed;
  z-index: 1000;
}
.desktop-bar-content {
  height: 100vh;
  width: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.desktop-join-logo {
  width: 100px;
  height: 122px;
  margin-top: 64px;
}

/* Desktop-Side-Bar Navigation*/
/* Implementen with JS Shows wich tab is active (ID) -> .desktop-a-img + .desktop-active*/
.desktop-active {
  background-color: #091931;
}

.desktop-navbar {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.desktop-a-img {
  padding: 0 58px;
}
.desktop-a-img:hover {
  background-color: #091931;
}
.desktop-a {
  height: 46px;
  display: flex;
  align-items: center;
  margin: 8px 0;
  font-size: 16px;
  font-family: "Inter", sans-serif !important;
  text-decoration: none;
  color: #ffffff;
}
.desktop-a img {
  width: 30px !important;
  height: 30px;
  padding: 8px;
}

/* Desktop-Side-Bar Footer*/
.desktop-footer {
  width: 100%;
  height: 317px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
  margin-bottom: 64px;
}
.desktop-a-footer-bg {
  padding: 8px 58px;
}
.desktop-a-footer {
  font-family: "Inter", sans-serif !important;
  text-decoration: none;
  color: #a8a8a8;
}
.desktop-a-footer:hover {
  font-weight: bold;
  color: #28abe2;
}

/* Desktop-Side-Bar End */

/*Mobile Navbar Start */
/* Implementen with JS Shows wich tab is active (ID) -> .mobile-a-img + .mobile-active*/
.mobile-active {
  background-color: #091931;
}

.mobile-navbar {
  display: none;
  height: 80px;
  width: 100vw;
  /*width: 428px;*/
  z-index: 1000 !important;
  bottom: 0;
  position: fixed;
  background-color: #2a3647;
}

.mobile-navigation {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.mobile-a-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 78px;
  width: 80px;
  border-radius: 16px;
}

.mobile-a {
  font-family: "Inter", sans-serif !important;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  margin-top: 4px;
}

.mobile-a img {
  width: 24px;
  height: 24px;
}
.mobile-link {
  position: absolute;
  height: 78px;
  width: 80px;
}

/* Desktop-Header start*/
.desktop-header {
  position: fixed;
  width: 100vw;
  height: 96px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.1);
}
.desktop-header-content {
  margin-left: 284px;
  font-size: 20px;
  font-family: "Inter", sans-serif !important;
}
.desktop-header-margin {
  width: 100vh;
  top: 0;
  height: 150px;
}
/* Desktop-Header end*/

/* Mobile-Header Start*/
.mobile-header {
  display: none;
  height: 80px;
  width: 100vw;
  position: fixed;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.1);
}
.mobile-header-content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.mobile-header-profile{
  height: 40px;
  width: 40px;
  background-image: url("./assets/img/mobile-profile-elipse.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-profile-text{
  color: #29ABE2;
  font-size: 16px;
  font-weight: bold;
}
/* Mobile - Header Top Margin */
.mobile-header-margin {
  display: none;
  width: 100vw;
  top: 0;
  height: 65px;
}

/* Responsive */
@media screen and (max-width: 900px) {
  .desktop-sidebar {
    display: none;
  }
  .desktop-header {
    display: none;
  }
  .desktop-header-margin {
    display: none;
  }
  /* 100px Margin-Bottom Because the Mobile-Navigaton would hide the content*/
  .main-content {
    margin: 20px 20px 100px 20px;
  }
  .mobile-navbar {
    display: unset;
  }
  .mobile-header-margin{
    display: block;
  }
  .mobile-header{
    display: flex;
  }
  /* Hide scrollbars */
  body::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
