<!-- !!!!!Summary / Add Task / Board / Contacs show only if Loged in!!!!! -->

<div class="desktop-sidebar">
    <div class="desktop-bar-content">
        <img class="desktop-join-logo" src="./assets/img/desktop-template/desktop-sidebar-logo.png" alt="join logo">
        <nav class="desktop-navbar">
            <div class="desktop-a-img"><a class="desktop-a" href="#"><img
                        src="./assets/img/desktop-template/desktop-logo/summary.png" alt="Summary">Summary</a></div>
            <div class="desktop-a-img"><a class="desktop-a" href="#"><img
                        src="./assets/img/desktop-template/desktop-logo/add-task.png" alt="Add Task">Add Task</a></div>
            <div class="desktop-a-img"><a class="desktop-a" href="#"><img
                        src="./assets/img/desktop-template/desktop-logo/board.png" alt="Board">Board</a></div>
            <div class="desktop-a-img"><a class="desktop-a" href="#"><img
                        src="./assets/img/desktop-template/desktop-logo/contacts.png" alt="Contacts">Contacts</a></div>
        </nav>
        <footer class="desktop-footer">
            <div class="desktop-a-footer-bg"><a class="desktop-a-footer" href="#">Privacy Policy</a></div>
            <div class="desktop-a-footer-bg"><a class="desktop-a-footer" href="#">Legal Notice</a></div>
        </footer>
    </div>
</div>