<!-- !!!!!Summary / Add Task / Board / Contacs show only if Loged in!!!!! -->

<div class="mobile-navbar">
    <nav class="mobile-navigation">
        <div class="mobile-a-img mobile-active"><img src="./assets/img/desktop-template/desktop-logo/summary.png"
                alt="Summary"><a class="mobile-a" href="#">Summary</a></div>
        <div class="mobile-a-img"><img src="./assets/img/desktop-template/desktop-logo/add-task.png" alt="Add Task"><a
                class="mobile-a" href="#">Add Task</a></div>
        <div class="mobile-a-img"><img src="./assets/img/desktop-template/desktop-logo/board.png" alt="Board"><a
                class="mobile-a" href="#">Board</a></div>
        <div class="mobile-a-img"><img src="./assets/img/desktop-template/desktop-logo/contacts.png" alt="Contacts"><a
                class="mobile-a" href="#">Contacts</a></div>
    </nav>
</div>