<!-- !!!!!Summary / Add Task / Board / Contacs show only if Loged in!!!!! -->
<div class="desktop-sidebar">
    <div class="desktop-bar-content">
        <img class="desktop-join-logo" src="./assets/desktop-template/desktop-sidebar-logo.png" alt="join logo">
        <nav class="desktop-navbar">
            <div class="desktop-a-img" id="summaryDesktop"><a class="desktop-a" href="summary.html"><img
                        class="desktop-img" src="./assets/desktop-template/desktop-logo/summary.png"
                        alt="Summary">Summary</a></div>
            <div class="desktop-a-img" id="addtaskDesktop"><a class="desktop-a" href="add_task.html"><img
                        class="desktop-img" src="./assets/desktop-template/desktop-logo/add-task.png"
                        alt="Add Task">Add Task</a></div>
            <div class="desktop-a-img" id="boardDesktop"><a class="desktop-a" href="board.html"><img class="desktop-img"
                        src="./assets/desktop-template/desktop-logo/board.png" alt="Board">Board</a></div>
            <div class="desktop-a-img" id="contactsDesktop"><a class="desktop-a" href="contacts.html"><img
                        class="desktop-img" src="./assets/desktop-template/desktop-logo/contacts.png"
                        alt="Contacts">Contacts</a></div>
        </nav>
        <footer class="desktop-footer">
            <div class="desktop-a-footer-bg" id="privacypolicyDesktop"><a class="desktop-a-footer"
                    href="privacy_policy.html">Privacy Policy</a></div>
            <div class="desktop-a-footer-bg" id="legalnoticeDesktop"><a class="desktop-a-footer"
                    href="legal_notice.html">Legal Notice</a></div>
        </footer>
    </div>
</div>
<div class="desktop-header">
    <div class="desktop-header-content">
        Kanban Project Management Tool
        <div class="desktop-header-right">
            <a class="desktop-help-con" id="help-icon" href="help.html"><img class="desktop-help-icon"
                    src="./assets/img/help-icon.png" alt="help"></a>
            <div class="desktop-header-profile">
                <span id="initials-user" class="desktop-profile-text">GU</span>
            </div>
        </div>
    </div>
</div>
<div class="desktop-header-margin"></div>
<div class="desktop-subheader" id="desktop-subheader">
    <a href="legal_notice.html">
        <div class="desktop-subheader-text">Legal Notice</div>
    </a>
    <a href="privacy_policy.html">
        <div class="desktop-subheader-text">Privacy Policy</div>
    </a>
    <a href="index.html">
        <div class="desktop-subheader-text">Log out</div>
    </a>
</div>