<!-- !!!!!Summary / Add Task / Board / Contacs show only if Loged in!!!!! -->

<div class="mobile-header">
        <div class="mobile-header-content">
                <img src="./assets/img/mobile-join-logo-small.png" alt="join">
                <div class="mobile-header-profile">
                        <span id="initial-user-mobile" class="mobile-profile-text">GU</span>
                </div>
        </div>
</div>
<div class="mobile-subheader" id="mobile-subheader">
        <a href="legal_notice.html">
                <div class="mobile-subheader-text">Legal Notice</div>
        </a>
        <a href="privacy_policy.html">
                <div class="mobile-subheader-text">Privacy Policy</div>
        </a>
        <a href="index.html">
                <div class="mobile-subheader-text">Log out</div>
        </a>
</div>
<div class="mobile-header-margin"></div>
<div class="mobile-navbar">
        <nav class="mobile-navigation">
                <div class="mobile-a-img" id="summaryMobile"><a class="mobile-link" href="summary.html"></a><img
                                src="./assets/desktop-template/desktop-logo/summary.png" alt="Summary"><span
                                class="mobile-a">Summary</span></div>
                <div class="mobile-a-img" id="addtaskMobile"><a class="mobile-link" href="add_task.html"></a><img
                                src="./assets/desktop-template/desktop-logo/add-task.png" alt="Add Task"><span
                                class="mobile-a">Add Task</span></div>
                <div class="mobile-a-img" id="boardMobile"><a class="mobile-link" href="board.html"></a><img
                                src="./assets/desktop-template/desktop-logo/board.png" alt="Board"><span
                                class="mobile-a">Board</span></div>
                <div class="mobile-a-img" id="contactsMobile"><a class="mobile-link" href="contacts.html"></a><img
                                src="./assets/desktop-template/desktop-logo/contacts.png" alt="Contacts"><span
                                class="mobile-a">Contacts</span></div>
        </nav>
</div>