/* ADD TASK DESKTOP START*/
.main-content-animation {
  animation: fadein 225ms;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  from {
    transform: translateY(-100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  background-color: #f6f7f8;
  font-family: "Inter", sans-serif !important;
  overflow-x: hidden;
}
.add-task-main-content {
  display: flex;
  justify-content: space-evenly;
  margin-left: 324px;
}

.add-task-left-side {
  display: flex;
  flex-direction: column;
  height: 376px;
  width: 440px;
}

.add-task-right-side {
  display: flex;
  flex-direction: column;
  height: 416px;
  width: 440px;
}

.add-task-title h1 {
  font-weight: 700 !important;
  font-size: 61px;
  top: 206px;
  margin-left: 284px;
}

.add-task-card {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 81px;
  gap: 8px;
}

.middle-border {
  border-left: solid 3px #d1d1d1;
  height: 424px;
  position: relative;
  top: 81px;
}

.form-control {
  padding: 9px 16px 6px 16px;
}

.btn {
  background-color: white;
  color: black;
  width: 136px;
  margin-right: 7px;
}

.btn-prio.selected {
  border: 3.5px solid rgb(41, 171, 226);
}

#bootstrap-datepicker {
  position: absolute;
  right: 2px;
  top: 40px;
}
#subtask-icon {
  position: absolute;
  position: absolute;
  right: 2px;
  top: 321px;
}

.required-field::before {
  content: "*";
  color: red;
}
.form-control option.d-none {
  display: none !important;
}

.add-task-bottom-container {
  margin-top: 307px;
}

.btn-bottom {
  margin-top: 273px;
  margin-left: 149px;
}
.btn {
  font-weight: 700;
}

.btn-clear {
  background-color: transparent;
}

.subtask-list {
  display: flex;
  align-items: center;
  margin-top: 10px;
  text-transform: capitalize;
}

.subtask-list input[type="checkbox"] {
  margin-right: 5px;
}

.subtask-list span {
  font-size: 18px;
}
.mobile-req {
  display: none !important;
  margin-bottom: 5px;
  margin-left: 5px;
  border-radius: 8px;
  height: 10px;
}
/* ADD TASK DESKTOP ENDS*/

/* ADD TASK RESPONSIVE STARTS */

@media (max-width: 1280px) {
  .desktop-header {
    z-index: 9;
  }

  .add-task-main-content {
    flex-direction: column;
    align-items: center;
    min-height: 110vh;
    margin-top: -225px;
  }
  .add-task-right-side {
    margin-top: -154px;
    justify-content: space-between;
  }

  .middle-border {
    display: none;
  }

  .btn-clear {
    display: none;
  }

  .btn-bottom {
    position: sticky;
    bottom: 11px;
    z-index: 99;
    background-color: #f6f7f8;
    width: 100%;
    padding-left: 140px;
  }

  .add-task-bottom-container {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 11px;
    background-color: #f6f7f8;
    height: 38px;
    z-index: 99;
  }

  @media (max-width: 900px) {
    .btn-bottom {
      position: sticky;
      display: flex;
      justify-content: center;
      z-index: 99;
      width: 100% !important;
      margin-left: 0;;
      padding: 0;
      background-color: unset;
    }
    .mobile-header {
      z-index: 9;
    }
    .add-task-main-content {
      margin-left: 20px;
    }

    .add-task-title h1 {
      font-size: 47px;
      margin-left: 20px;
      margin-top: 30px;
    }

    .btn-bottom {
      bottom: 81px;
      padding-bottom: 8px;
    }

    .add-task-bottom-container {
      bottom: 90px;
    }
  }

  @media (max-width: 471px) {
    .btn-bottom{
     padding: 0;
    }
    .add-task-bottom-container {
      display: none;
    }
    .btn-bottom {
      width: 20%;
    }
    .add-task-card {
      width: 100%;
      padding: 0 10px 0 20px;
      top: 130px;
      gap: 0;
    }
    .add-task-right-side, .add-task-left-side, #task-description-input{
      width: 100% !important;
    }
    .add-task-main-content{
      margin-top: -185px !important;
    }
    .subtask-title-input{
      display: flex;
      align-items: center;
    }
    #subtask-icon{
      margin-top: -23px;
      margin-right: 10px;
    }
  }

  @media (max-width: 393.33px) {
    .add-task-main-content {
      flex-direction: column;
      margin-top: -200px;
      margin-left: 2px;
      margin-right: 10px;
    }

    .add-task-title h1 {
      font-size: 47px;
      margin-left: 20px;
      margin-top: 30px;
    }

    .add-task-main-content .add-task-left-side,
    .add-task-main-content .add-task-right-side {
      width: 100%;
    }

    .add-task-right-side {
      margin-top: -91px;
    }

    .add-task-card {
      width: 100%;
      top: 130px;
    }

    .form-control {
      width: 100%;
    }

    .add-task-left-side textarea {
      width: 100% !important;
    }


    #subtask-icon {
      top: 359px;
    }
  }
}
@media (max-width: 380px) {
  .add-task-main-content {
    width: 100%;
  }
}
@media (max-height: 750px) {
  .add-task-main-content {
    height: 900px;
  }
}

/* ADD TASK RESPONSIVE ENDS */
