/**ANIMATION FOR THE MAIN CONTENT START**/
.main-content-animation {
  animation: fadein 225ms;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  from {
    transform: translateY(-100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/**ANIMATION FOR THE MAIN CONTENT END**/

.loaded-teamplate-class{
  z-index: 1999;
}
#contact_list{
  background-color: transparent;
}
.contact {
  
  padding: 10px;
  
  margin: 10px;
  
 

  
}
