body {
  background-color: rgba(246, 247, 248, 1) !important;
}

/**Animation START**/

.login-animation-logo {
  animation: transformtopleft ease-in-out 500ms;
  animation-fill-mode: forwards;
  animation-delay: 200ms;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

@keyframes transformtopleft {
  from {
    width: 274px;
    height: 334.07px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
  }
  to {
    z-index: 5;
    width: 100.03px;
    height: 121.97px;
    position: absolute;
    top: 80px;
    left: 77px;
    transform: none;
  }
}

.login-animation-background {
  animation: fadeout 2s;
  position: absolute;
  transition: ease-in-out;
  width: 100%;
  height: 100%;
  animation-fill-mode: forwards;
  top: 0;
  animation-delay: 200ms;
  background-color: white;
  z-index: 10;
}

@keyframes fadeout {
  from {
    background-color: white;
    z-index: 9;
  }
  to {
    opacity: 0;
    z-index: -5;
    background-color: transparent;
  }
}

/**Animation END**/

.login-topleft-logo {
  width: 274px;
  height: 334px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-signup-button {
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 19.2px !important;
}

.login-button:hover,
.login-signup-button:hover {
  background-color: #29abe2 !important;
}

.login-top-container {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-right: 80px;
}

.login-top-right-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  z-index: 5;
}

.login-top-right-p {
  font-weight: 400;
  font-size: 20px !important;
  line-height: 24px;
  width: 153px;
  height: 24px;
  margin-right: 35px;
}

.login-button {
  background: #2a3647 !important;
  color: white !important;
  padding: 15px 16px 15px 16px !important;
  border-radius: 8px !important;
  height: 48px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 120px;
  font-weight: 700 !important;
  font-size: 21px !important;
}

.login-guest-button {
  color: #2a3647 !important;
  background-color: white;
  border: solid 1px 1px 1px 1px;
  border-color: #2a3647 !important;
  margin-left: 32px;
  font-weight: 700 !important;
  height: 48px;
  font-size: 21px !important;
}

.login-guest-button:hover {
  color: #29abe2 !important;
  border-color: #29abe2 !important;
}

.login-headline {
  width: 315px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 61px;
  line-height: 73.2px;
}

.login-border-bottom {
  border-bottom: solid 3px #29abe2;
  padding-bottom: 16px;
}

.login-form-radius {
  border-radius: 10px !important;
  width: 422px !important;
  height: 48px;
}

.login-remember-me {
  margin-left: 39px;
}

.login-button-box {
  display: flex;
  justify-content: center;
}

.mb-3 {
  padding: 12px 21px 12px 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form-img {
  margin: -30px;
}

#login-password-img:hover {
  background-color: rgba(246, 247, 248, 1);
  border-radius: 4px;
  cursor: pointer;
}

.login-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04) !important;
  padding: 48px 115px 48px 115px !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  background-color: white;
}

.form-check {
  margin-left: 39px;
}

.login-footer-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 40vh);
  padding: 8px;
  display: flex;
  justify-content: space-between;
  width: 246px;
  height: 35px;
}

.login-privacy-policy-box {
  width: 121px !important;
  height: 19px !important;
}

.login-footer-font {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: rgba(168, 168, 168, 1);
  text-decoration: none;
}

.login-footer-font:hover {
  transform: scale(1.1);
  color: #29abe2;
  font-weight: 600;
}

.form-check-label {
  color: black;
}
.form-check-input {
  border-color: black;
}

.form-control:focus {
  border-color: #29abe2 !important;
  box-shadow: none !important;
}

.form-control::placeholder {
  color: rgba(209, 209, 209, 1) !important;
}

.form-check-input:checked {
  background-color: #29abe2 !important;
}

.login-false-password {
  border-color: red;
}

.password-box {
  padding: 12px 21px 12px 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0 !important;
}

.login-wrong-password {
  color: red;
  font-size: 12px;
  font-weight: 200;
  padding-left: 21px;
}

.login-animation-responsive {
  display: none;
}

/**LOG IN DESKTOP END**/

/**LOG IN RESPONSIVE START**/

@media (max-width: 575.98px) {
  .login-animation-background {
    background-color: rgba(42, 54, 71, 1);
  }

  .login-animation-responsive {
    display: block;
    animation: logo ease-in-out 500ms;
    animation-fill-mode: forwards;
    animation-delay: 200ms;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    width: 100px;
    height: 121px;
  }

  @keyframes logo {
    from {
      opacity: 1;
      width: 100px;
      height: 121px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    to {
      opacity: 0;
      z-index: 5;
      width: 64px;
      height: 78px;
      position: absolute;
      top: 37px;
      left: 38px;
      transform: none;
    }
  }

  .login-animation-logo {
    animation: transformtopleft ease-in-out 500ms;
    animation-fill-mode: forwards;
    animation-delay: 200ms;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 100px;
    height: 121px;
  }

  @keyframes transformtopleft {
    from {
      opacity: 0;
      width: 100px;
      height: 121px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9;
    }
    to {
      opacity: 1;
      z-index: 5;
      width: 64px;
      height: 78px;
      position: absolute;
      top: 37px;
      left: 38px;
      transform: none;
    }
  }

  .login-top-right-container {
    position: absolute;
    left: 10%;
    transform: translate(0, 73vh);
    right: 10%;
  }

  .login-top-right-p {
    margin-right: 16px !important;
  }

  .login-headline {
    font-size: 47px;
  }

  .login-form-radius {
    width: 280px !important;
  }

  .login-form-img {
    margin: 0 !important;
    margin-left: -30px !important;
  }

  .login-card {
    padding: 0 !important;
  }

  .login-button-box {
    flex-direction: column;
    align-items: center;
  }

  .login-guest-button {
    margin: 21px 0 20px 0;
  }

  .login-footer-container {
    transform: translate(-50%, 44vh);
  }
}

@media (max-width: 767.98px) {
  .login-animation-background {
    background-color: rgba(42, 54, 71, 1);
  }

  .login-animation-responsive {
    display: block;
    animation: logo ease-in-out 500ms;
    animation-fill-mode: forwards;
    animation-delay: 200ms;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    width: 100px;
    height: 121px;
  }

  @keyframes logo {
    from {
      opacity: 1;
      width: 100px;
      height: 121px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    to {
      opacity: 0;
      z-index: 5;
      width: 64px;
      height: 78px;
      position: absolute;
      top: 37px;
      left: 38px;
      transform: none;
    }
  }

  .login-animation-logo {
    animation: transformtopleft ease-in-out 500ms;
    animation-fill-mode: forwards;
    animation-delay: 200ms;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 100px;
    height: 121px;
  }

  @keyframes transformtopleft {
    from {
      opacity: 0;
      width: 100px;
      height: 121px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9;
    }
    to {
      opacity: 1;
      z-index: 5;
      width: 64px;
      height: 78px;
      position: absolute;
      top: 37px;
      left: 38px;
      transform: none;
    }
  }

  .login-top-right-container {
    position: absolute;
    left: 10%;
    transform: translate(0, 73vh);
    right: 10%;
    display: flex;
    justify-content: center;
  }

  .login-top-right-p {
    margin-right: 16px !important;
  }

  .login-headline {
    font-size: 47px;
  }

  .login-form-radius {
    width: 0;
  }

  .login-form-img {
    margin: 0 !important;
    margin-left: -30px !important;
  }

  .login-card {
    padding: 0 !important;
  }

  .login-button-box {
    flex-direction: column;
    align-items: center;
  }

  .login-guest-button {
    margin: 21px 0 20px 0;
  }

  .login-footer-container {
    transform: translate(-50%, 44vh);
  }
}

@media (max-height: 690px) {
  .login-top-right-container,
  .login-footer-container {
    margin-top: 60px;
  }
  .login-footer-container {
    padding-bottom: 50px;
  }

  .login-card {
    transform: translate(-50%, -43%);
  }
}
/**LOG IN RESPONSIVE END**/
