/**ANIMATION FOR THE MAIN CONTENT START**/
.main-content {
  animation: fadein 225ms;
  animation-fill-mode: forwards;
  overflow-x: hidden;
}
@keyframes fadein {
  from {
    transform: translateY(-100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/**ANIMATION FOR THE MAIN CONTENT END**/

body {
  background-color: rgba(246, 247, 248, 1) !important;
  font-family: "Inter", sans-serif !important;
}

.number {
  font-size: 64px;
  font-weight: 600;
  line-height: 76.8px;
}

/**STYLE FOR TEXT: TODO, DONE, TASKS IN BOARD, TASKS IN PROGRESS, AWAITING FEEDBACK**/
.text-style1 {
  font-size: 20px;
  color: rgba(42, 54, 71, 1);
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.margin-left {
  margin-left: 3rem;
}

.urgency-greeting-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65vw;
}

.goodmorning-style {
  font-size: 47px;
  font-weight: 500;
  line-height: 56.4px;
  color: #2a3647;
}

.user-greeting-name {
  color: #29abe2;
  font-weight: 700;
  font-size: 64px;
  line-height: 76.8px;
}

.summary-main-container {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-top: 80px; /**BEISPIEL**/
}

.summary-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 61px;
  line-height: 73.2px;
  font-weight: 700;
}

.summary-headline-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  font-weight: 400;
  line-height: 32.4px;
}

.summary-headline-container {
  width: 625px;
  height: 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-headline-right-border {
  height: 59px;
  border-style: solid;
  border-right-width: 3px;
  border-radius: 4px;
  border-color: rgba(41, 171, 226, 1);
}

.summary-icon-container {
  display: flex;
  flex-direction: column;
  width: 560px;
  height: 562px;
}

.summary-todo-done-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dot-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.width {
  width: 264px;
}

.top-number-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.summary-todo-done-card-layout {
  width: 264px;
  height: 170px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px !important;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04) !important;
  border: none !important;
}

.urgency-card-layout {
  display: flex;
  justify-content: start;
  align-items: center;
  min-width: 560px;
  height: 170px !important;
  border-radius: 30px !important;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04) !important;
  border: none !important;
  flex-direction: row !important;
}

.border-ugency-container {
  height: 102px;
  border-style: solid;
  border-right-width: 2px;
  border-radius: 4px;
  border-color: rgba(209, 209, 209, 1);
}

.string-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.today-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 264px;
  margin-left: 32px;
}

.date-style {
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.upcoming-deadline {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  margin-top: 13px;
}

.urgency-card-layout:hover {
  animation: hovereffectbackground 0.2s;
  animation-fill-mode: forwards;
}

.summary-task-bottom-container {
  width: 560px;
  height: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-bottom-card {
  width: 168px !important;
  height: 169px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px !important;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04) !important;
  border: none !important;
}

.summary-bottom-card:hover {
  animation: hovereffectbackground 0.2s;
  animation-fill-mode: forwards;
}

.dot-todo {
  width: 69px;
  height: 69px;
  background-color: rgba(42, 54, 71, 1);
  /*background: url(/assets/img/pencil.png);*/
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  margin-right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot-done {
  width: 69px;
  height: 69px;
  background-color: rgba(42, 54, 71, 1);
  /*background: url(/assets/img/done.png);*/
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  margin-right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot-urgent {
  width: 69px;
  height: 69px;
  background-repeat: no-repeat;
  background-color: rgba(255, 61, 0, 1);
  background-position: center;
  border-radius: 50%;
  margin-right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

html a {
  text-decoration: none;
}

/**ANIMATION-BUTTON**/

/**TODO + DONE CARD START**/

.summary-todo-done-card-layout:hover {
  animation: hovereffectbackground forwards 0.2s;
  .dot-todo,
  .dot-done {
    animation: transformBackgroundToWhite forwards 0.2s;
  }
  .text-style1 {
    animation: transformFontToWhite forwards 0.2s;
  }
  .dot-number-container img {
    filter: invert(1);
  }
}
/**TODO + DONE CARD END**/

/**URGENCY CARD START**/

.urgency-card-layout:hover {
  .text-style1 {
    animation: transformFontToWhite forwards 0.2s;
  }
}

/**URGENCY CARD END**/

/**SUMMARY BOTTOM CARD START**/
.summary-bottom-card:hover {
  .text-style1 {
    animation: transformFontToWhite forwards 0.2s;
  }
}

/**SUMMARY BOTTOM CARD END**/

@keyframes transformBackgroundToWhite {
  from {
  }
  to {
    background-color: white;
  }
}

@keyframes transformFontToWhite {
  from {
  }
  to {
    color: white;
  }
}

@keyframes hovereffectbackground {
  from {
    background-color: rgba(42, 54, 71, 0);
  }
  to {
    transition: ease-out;
    background-color: rgba(42, 54, 71, 1);
    color: white;
    transform: scale(1.1);
  }
}

@media (max-width: 1550px) {
  .urgency-greeting-container p {
    display: none;
  }

  .summary-main-container {
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }

  .margin-left {
    margin-left: 0 !important;
  }

  .summary-headline-container {
    margin-top: 12px;
  }
}

@media (max-width: 700px) {
  .summary-main-container {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .summary-headline-container {
    flex-direction: column;
    width: auto;
  }

  .summary-headline-right-border {
    width: 59px;
  }

  .urgency-greeting-container {
    width: auto;
  }

  .ms-5 {
    margin-left: 0 !important;
  }

  .margin-left {
    margin-left: 0 !important;
  }
}

@media (max-width: 590px) {
  .summary-todo-done-container,
  .summary-todo-done-card-layout,
  .summary-task-bottom-container {
    flex-direction: column;
    margin-top: 8px;
  }
  .summary-bottom-card {
    margin-top: 10px;
  }

  .last-card {
    margin-bottom: 60%;
  }

  body {
    overflow-x: hidden;
  }

  /*.greeting-user-container {
    display: none;
  }*/
}

@media (max-width: 450px) {
  .mb-5 {
    margin-bottom: 0 !important;
  }

  .main-content {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  .summary-main-container {
    margin-left: 0;
  }

  .summary-todo-done-container {
    flex-direction: column;
  }

  .summary-todo-done-card-layout {
    margin-bottom: 32px;
    width: 30vh;
  }

  .summary-icon-container {
    margin-top: 32px;
    width: 45vh;
  }

  .margin-left {
    margin-left: 0;
  }

  .urgency-greeting-container {
    justify-content: center;
    align-items: center;
  }

  .urgency-card-layout {
    flex-direction: column !important;
  }

  .summary-task-bottom-container {
    flex-direction: column !important;
    width: 45vh;
    padding-bottom: 65vh;
  }

  .summary-bottom-card {
    margin-top: 8px;
  }
}

@media (max-width: 400px) {
  body {
    overflow-x: hidden !important;
  }
  .summary-task-bottom-container {
    padding-bottom: 0vh;
    height: auto;
  }
}

@media (max-width: 320px) {
  body {
    overflow-x: hidden;
  }
  .summary-headline {
    margin-top: 8px;
  }

  .summary-headline-2 {
    font-size: 24px;
  }
}
